/** TABLE GRID LAYOUT **/
.user-statistics h2 {
 color: #fff !important;
 text-align: center;
}
.user-statistics > div {
    display: inline-block;
    padding-bottom: 1em;
    vertical-align: top;
    width: 49.7%;
    min-width: 400px;
}
.user-statistics th, .user-statistics td {
    text-align: right !important;
}
.user-statistics th:first-child, .user-statistics td:first-child {
    text-align: left !important;
}

/** BROWSERS **/
.browsers tr:first-child td:first-child:before {
    padding-right: 5px;
    vertical-align: top;
}
.browsers .aol tr:first-child td:first-child:before {
    content:url(https://elearning.uni-oldenburg.de/plugins_packages/UOL/BenutzerStatistik/assets/images/browser_aol.png);
}
.browsers .camino tr:first-child td:first-child:before {
    content:url(https://elearning.uni-oldenburg.de/plugins_packages/UOL/BenutzerStatistik/assets/images/browser_camino.png);
}
.browsers .chrome tr:first-child td:first-child:before {
    content:url(https://elearning.uni-oldenburg.de/plugins_packages/UOL/BenutzerStatistik/assets/images/browser_chrome.png);
}
.browsers .dolphin tr:first-child td:first-child:before {
    content:url(https://elearning.uni-oldenburg.de/plugins_packages/UOL/BenutzerStatistik/assets/images/browser_dolphin.png);
}
.browsers .firefox tr:first-child td:first-child:before {
    content:url(https://elearning.uni-oldenburg.de/plugins_packages/UOL/BenutzerStatistik/assets/images/browser_firefox.png);
}
.browsers .galeon tr:first-child td:first-child:before {
    content:url(https://elearning.uni-oldenburg.de/plugins_packages/UOL/BenutzerStatistik/assets/images/browser_galeon.png);
}
.browsers .icab tr:first-child td:first-child:before {
    content:url(https://elearning.uni-oldenburg.de/plugins_packages/UOL/BenutzerStatistik/assets/images/browser_icab.png);
}
.browsers .iceweasel tr:first-child td:first-child:before {
    content:url(https://elearning.uni-oldenburg.de/plugins_packages/UOL/BenutzerStatistik/assets/images/browser_iceweasel.png);
}
.browsers .konqueror tr:first-child td:first-child:before {
    content:url(https://elearning.uni-oldenburg.de/plugins_packages/UOL/BenutzerStatistik/assets/images/browser_konqueror.png);
}
.browsers .mozilla tr:first-child td:first-child:before {
    content:url(https://elearning.uni-oldenburg.de/plugins_packages/UOL/BenutzerStatistik/assets/images/browser_mozilla.png);
}
.browsers .msie tr:first-child td:first-child:before {
    content:url(https://elearning.uni-oldenburg.de/plugins_packages/UOL/BenutzerStatistik/assets/images/browser_msie.png);
}
.browsers .msnexplorer tr:first-child td:first-child:before {
    content:url(https://elearning.uni-oldenburg.de/plugins_packages/UOL/BenutzerStatistik/assets/images/browser_msnexplorer.png);
}
.browsers .netscape tr:first-child td:first-child:before {
    content:url(https://elearning.uni-oldenburg.de/plugins_packages/UOL/BenutzerStatistik/assets/images/browser_netscape.png);
}
.browsers .mobile tr:first-child td:first-child:before {
    content:url(https://elearning.uni-oldenburg.de/plugins_packages/UOL/BenutzerStatistik/assets/images/browser_mobile.png);
}
.browsers .omniweb tr:first-child td:first-child:before {
    content:url(https://elearning.uni-oldenburg.de/plugins_packages/UOL/BenutzerStatistik/assets/images/browser_omniweb.png);
}
.browsers .opera tr:first-child td:first-child:before {
    content:url(https://elearning.uni-oldenburg.de/plugins_packages/UOL/BenutzerStatistik/assets/images/browser_opera.png);
}
.browsers .safari tr:first-child td:first-child:before {
    content:url(https://elearning.uni-oldenburg.de/plugins_packages/UOL/BenutzerStatistik/assets/images/browser_safari.png);
}
.browsers .seamonkey tr:first-child td:first-child:before {
    content:url(https://elearning.uni-oldenburg.de/plugins_packages/UOL/BenutzerStatistik/assets/images/browser_seamonkey.png);
}
.browsers .shiira tr:first-child td:first-child:before {
    content:url(https://elearning.uni-oldenburg.de/plugins_packages/UOL/BenutzerStatistik/assets/images/browser_shiira.png);
}
.browsers .sunrise tr:first-child td:first-child:before {
    content:url(https://elearning.uni-oldenburg.de/plugins_packages/UOL/BenutzerStatistik/assets/images/browser_sunrise.png);
}
.browsers .unbekannt tr:first-child td:first-child:before {
    content:url(https://elearning.uni-oldenburg.de/plugins_packages/UOL/BenutzerStatistik/assets/images/browser_unbekannt.png);
}
.browsers td:first-child {
    padding-left: 20px;
}
.browsers tr:first-child td:first-child {
    padding-left: 0;
}
/** OPERATING SYSTEMS **/
.os td:first-child:before {
    padding-right: 5px;
    vertical-align: top;
}
.os .android td:first-child:before {
    content:url(https://elearning.uni-oldenburg.de/plugins_packages/UOL/BenutzerStatistik/assets/images/os_android.png);
}
.os .blackberry td:first-child:before {
    content:url(https://elearning.uni-oldenburg.de/plugins_packages/UOL/BenutzerStatistik/assets/images/os_blackberry.png);
}
.os .ios td:first-child:before {
    content:url(https://elearning.uni-oldenburg.de/plugins_packages/UOL/BenutzerStatistik/assets/images/os_ios.png);
}
.os .linux td:first-child:before {
    content:url(https://elearning.uni-oldenburg.de/plugins_packages/UOL/BenutzerStatistik/assets/images/os_linux.png);
}
.os .macosx td:first-child:before {
    content:url(https://elearning.uni-oldenburg.de/plugins_packages/UOL/BenutzerStatistik/assets/images/os_macosx.png);
}
.os .windows td:first-child:before {
    content:url(https://elearning.uni-oldenburg.de/plugins_packages/UOL/BenutzerStatistik/assets/images/os_windows.png);
}
.os .windowsmobile td:first-child:before {
    content:url(https://elearning.uni-oldenburg.de/plugins_packages/UOL/BenutzerStatistik/assets/images/os_windowsmobile.png);
}

/** COLLAPSABLE TABLE BODIES **/
tbody.collapsable tr:first-child td:first-child {
    background: url(https://elearning.uni-oldenburg.de/assets/images/icons/16/blue/arr_1down.png) left center no-repeat;
    cursor: pointer;
    padding-left: 18px;
    padding-top: 5px;
}
tbody.collapsed tr:first-child td:first-child {
    background-image: url(https://elearning.uni-oldenburg.de/assets/images/icons/16/blue/arr_1right.png);
}
tbody.collapsed tr {
    display: none;
}
tbody.collapsed tr:first-child {
    display: table-row;
}

/* OLD STUFF */
.stats_marker {
    float: left;
    margin-top: 0.4em;
    margin-right: 4px;
    border: 1px solid black;
    width: 20px;
    height: 5px;
}
.stats_bar div ,.stats_bar_big div {
    position: absolute;
    left: 1px;
    bottom: 0px;
    border: 1px solid black;
    cursor: default;
    width: 6px;
}
.stats_bar_big div {
    left: 4px;
    width: 10px;
}

.year_marker {
    border: 1px solid black;
    text-align: right;
    overflow: hidden;
    font-size: 0.8em;
    height: 1em;
    line-height: 1em;
    padding: 0px;
    margin-bottom: 1px;
}

.visits .stats_marker, .stats_bar .visits, .stats_bar_big .visits, .year_marker.visits  {
    background-color: green;
}
.visits .stats_marker.headcount, .stats_bar .headcount, .stats_bar_big .headcount, .year_marker.headcount {
    background-color: lightgreen;
}
.hits .stats_marker, .stats_bar .hits, .stats_bar_big .hits, .year_marker.hits {
    background-color: orange;
}

#scale {
    border-right: 1px solid black;
    font-size: 0.7em;
    margin-bottom: -2px;
}

.scale_marker {
    position: absolute;
    right: 0px;
    border-bottom: 1px solid black;
    line-height: 0.9em;
}

.caption {
    border: 1px solid black;
    border-bottom: 0px;
    vertical-align: top;
}
.month_caption {
    border: 1px solid black;
    border-top: 0px;
    border-bottom: 0px;
}

td.grayed {
    color: gray;
}

form fieldset div label {
    display: inline-block;
    text-align: right;
    width: 200px;
}
form fieldset div {
    margin: 1px;
}
form fieldset li label {
    display: inline-block;
    width: 300px;
}
form fieldset li input {
    width: 200px;
}
form fieldset .type-button {
    margin-left: 203px;
}

tr.bordered td {
    border-bottom: 1px solid black;
}
